/* You can add global styles to this file, and also import other style files */

// @import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.active {
  border: 1px solid #f5f5f5;
}

.container-spinner{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.sport{
  background: rgba(0, 0, 255, 0.651) !important;
}
.life{
  background: rgba(214, 63, 121, 0.808) !important;
}
.style{
  background: rgb(141, 199, 87) !important;
}

.mat-chip.mat-focus-indicator.mat-primary.mat-standard-chip {
  min-height: 1rem;
  padding: 9px;
}
